#header {
  background: rgba(255,255,255,0.95);
  box-shadow: 0 0 0.1em 0 rgba(0,0,0,0.25);
  height: 4em;
  left: 0;
  line-height: 4em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: top 0.3s ease-in-out;
}

#header.hidden {
  top: -4em;
}

#header h1 {
  color: var(--dark-color);
  font-weight: 700;
  margin: 0;
  font-size: 2.5em;
}

#header h1 a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  padding: 0 0.5em;
  border-radius: 3px;
}

#header h1 a:hover {
  background-color: red;
  transition: background-color .7s ease-in-out;
}

#header h1 a .logo-j {
  color: red;
}

#header h1 a .logo-s {
  color: #ff8484;
  font-weight: 700;
}

#header h1 a:hover .logo-j {
  color: #ff8484;
  font-style: italic;
}

#header h1 a:hover .logo-s {
  color: white;
  font-style: italic;
}

#header nav {
    display: flex;
    align-items: center;
}

#header nav a, #header nav .nav-button {
  color: inherit;
  margin: 1em;
  text-decoration: none;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  transition: color 0.2s ease-in-out;
}

#header nav a:hover, #header nav .nav-button:hover {
  color: var(--primary-color);
}

#header nav .button {
  height: 2.5em;
  line-height: 2em;
  padding: 0 1.5em;
  vertical-align: middle;
}

@media (max-width: 768px) {
  #header {
    padding: 0 1em;
    height: 3.5em;
    line-height: 3.5em;
    font-size: 0.9em;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    background: rgba(255,255,255,0.95);
    transition: top 0.3s ease-in-out;
  }



  #header h1 {
    font-size: 2em;
  }

  #header nav a, #header nav .nav-button {
    margin: 0.5em;
    font-size: 0.9em;
  }

  #header nav .button {
    height: 2em;
    line-height: 2em;
    padding: 0 1em;
    font-size: 0.9em;
  }
}